* {
 box-sizing: border-box;
 border-left: 6px; #772014; 
}

body {
 font-family: Arial;
 margin: 0;
}

main {
 display: flex;
}

header {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap; 
 justify-content: space-between;
 padding: 10px;
 align-items: center;
 background: #0c9186;
 color: #fff;
}

#name {
display: flex;
background-color: #e9353e;
display: inline;

}

section .bio {
display: flex;
flex-direction: row;
justify-content: space-between;

}

p {
 display: flex;
 text-transform: capitalize;
 font-style: inherit;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 300;
 
}


/* header .navs{
 display: flex;
 align-content: flex-end;
 text-decoration: none;
} */

.navs a{
text-decoration: none;
justify-content: space-around;
padding: 5px;
color: #fff;
} 

h2 {
 display: inline-block;
padding-left: 50px;

width: 2px;
height: 50px;

}

.skills {
display: flexbox;
display: grid;

width: 2px;
height: 50px;
border: 2px solid black;

}



/* 
nav {
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 background-color: #d8a47f;
 
} */

/*nav p {
 padding: 14px 20px;
 text-decoration: none;
}*/



/* aside {
 flex: 3%;
 /*background-color: #b9c6ae;*/

 /*flex-wrap: wrap;
} */

section {
 flex:30%;
 background-color: rgb(179, 127, 127);
 /* padding: 100px; */
}

footer {
 padding: 20px;
 text-align: center;
 background: #13293d;
 color: #fff;
}

/* Image Placeholders 
.sample-img {
 background-color: #fff;
 width: 100%;
 padding: 20px;
 height: 300px;
 border: 1px solid black;
}
.LED {
 background-color: #fff;
 width: 30%;
 padding: 20px;
 height: 80px;
 border: 1px solid black;
}
/*  */
/* .Clock {
 background-color: #fff;
 width: 10%;
 padding: 20px;
 height: 300px;
 border: 1px solid black; */



/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
 header {
   background: #772014;
 }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
 nav {
   background-color: #bb8588;
 }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
 .sample-img {
   background-color: #8ac4ff;
 }
}
